.btn-cart{
  border: none;
  color: white;
  border-radius: 4px;
  transform: scale(1);
}

.btn-cart:hover{
  cursor: pointer;
}

.cart-nmb{
  color: white;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -40px;
  left: 15px;
  width: 0.3px;
  height: 0.3px;
  font-size: medium;
  z-index: 100;
}