<form action="">
    <div class="flex flex-column gap-2 w-screen h-screen justify-content-center align-items-center bg-color">
        <div class="flex flex-column gap-3 w-30rem h-auto bg-white justify-content-center align-items-center bg-color p-4 border-round-lg">
            <h1>Iniciar sesion</h1>
            <div>
                <p>usuario</p>
                <div class="flex gap-2 justify-content-center align-items-center">
                    <i class="bi bi-person-circle"></i>
                    <input type="text" placeholder="usuario" class="input-bg-color  p-2">
                </div>
            </div>
            <div>
                <p>correo electronico</p>
                <div class="flex gap-2 justify-content-center align-items-center">
                    <i class="bi bi-envelope"></i>
                    <input type="text" placeholder="shop@shop.com" class="input-bg-color  p-2">
                </div>
            </div>
            <div>
                <p>contraseña</p>
                <div class="flex gap-2 justify-content-center align-items-center">
                    <i class="bi bi-key-fill"></i>
                    <input type="password" placeholder="contraseña123" class="input-bg-color  p-2">
                </div>
            </div>
            <button class="boton_general scale-btn border-0 bg-black-alpha-90 text-white">Iniciar sesión</button>
        </div>
    </div>
</form>